<div id="okc_crawler_buttons">
    <button id="okc_crawler_crawl">Crawl</button>
    <button id="okc_crawler_resume">Resume Crawl</button>
    <button id="okc_crawler_submit" class="crawldata">Submit Crawl Data</button>
    <button id="okc_crawler_stop" class="crawldata">Clear Crawl Data</button>
</div>
<div id="okc_crawler_crawling">
    <h2>Getting Users!</h2>
</div>